#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "enter", new_user_registration_path
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Orginize 
        %p essenger bag vape williamsburg hell of echo park,
        banjo raclette selfies pinterest. Butcher cray polaroid kale chips,
        mixtape mumblecore sustainable whatever hexagon retro raclette godard.
        Succulents photo booth iPhone bushwick, kale chips next level fam 
        waistcoat hella. Biodiesel food truck craft beer, mixtape aesthetic fanny 
        pack slow-carb pug deep v literally kickstarter. Keytar raw denim 
        retro street art tumeric raclette. Venmo cold-pressed neutra cred slow-carb, 
        man braid mumblecore. Mixtape pop-up cronut copper mug semiotics DIY, hella 
        mumblecore knausgaard iceland raclette freegan chambray pok pok schlitz.
        
#bottom_cta
  .wrapper 
  %h2 Go Ahead!
  %br
  %button= link_to "Join Now", new_user_registration_path